/* Forget Page */
app-forget-password-page {
    ion-content {
        &.bg-default {
            --padding-top: 0;
            --padding-end: 0;
            --padding-start: 0;
            background-image: unset;
            background-color: $gray-light-color;

            .logo-section {
                background-color: $white-color;
                padding-bottom: 30px;
                padding-left: 20px;
                padding-top: 20vw;

                .logo {
                    width: 200px;
                    height: 45px;
                    margin-bottom: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .forgot-password-section {
                padding: 0 20px;

                .page-description {
                    h4.title-red {
                        line-height: 1;
                        font-size: 24px;
                        margin-top: 15vw;
                        margin-bottom: 25px;
                        font-family: Roboto-Medium;
                        color: $primary-light-color;
                    }

                    .description {
                        &.title-red {
                            font-size: 16px;
                            color: $text-dark;
                            font-family: Roboto-Regular;
                            margin-bottom: 25px !important;

                            span {
                                color: $text-dark;
                                font-family: Roboto-Medium;
                            }
                        }
                    }
                }

                .forgot-password-form {
                    .form-group {
                        label {
                            color: $text-dark;
                            margin-bottom: 5px;
                            font-family: Roboto-Regular;
                        }

                        input[type="tel"] {
                            border: unset !important;
                            color: $text-dark !important;
                            background-color: $white-color !important;

                            &:-internal-autofill {
                                -webkit-text-fill-color: #5b5b5b;
                                -webkit-box-shadow: 0 0 0px 1000px $white-color inset;
                                transition: background-color 5000s ease-in-out 0s;
                            }

                            &:-internal-autofill-selected {
                                -webkit-text-fill-color: #5b5b5b;
                                -webkit-box-shadow: 0 0 0px 1000px $white-color inset;
                                transition: background-color 5000s ease-in-out 0s;
                            }
                        }

                        &.error {
                            label {
                                font-family: Roboto-Medium;
                                color: $primary-light-color !important;
                            }

                            input[type="tel"] {
                                border: 1px solid $primary-light-color !important;
                            }

                            .error {
                                font-family: Roboto-Medium;
                                color: $primary-light-color;
                            }
                        }

                        &.flex {
                            margin: 0;
                            flex-direction: column-reverse;

                            .btn {
                                width: 100%;
                                margin-bottom: 20px;
                                text-transform: unset;
                                font-family: Roboto-Medium;
                                font-size: 16px !important;
                                line-height: normal !important;

                                &.btn-red {
                                    background-color: $primary-light-color !important;
                                }

                                &.btn-gray {
                                    background-color: $text-gray !important;
                                }
                            }
                        }
                    }
                }
            }

            .confirmation-content-section {
                padding: 0 20px;

                .confirmation-content {
                    h4.title-red {
                        line-height: 1;
                        font-size: 24px;
                        margin-top: 15vw;
                        margin-bottom: 25px;
                        font-family: Roboto-Medium;
                        color: $primary-light-color;
                    }

                    .description {
                        font-size: 16px;
                        color: $text-dark;
                        font-family: Roboto-Regular;

                        span {
                            color: $text-dark;
                            font-family: Roboto-Medium;
                        }

                        + .margin {
                            margin-left: 0;
                            margin-right: 0;
                            margin-bottom: 8em;
                        }
                    }

                    .btn-gray {
                        width: 100%;
                        text-transform: unset;
                        font-family: Roboto-Medium;
                        font-size: 16px !important;
                        line-height: normal !important;
                        background-color: $text-gray !important;
                    }
                }
            }

            .reset-password-section {
                padding: 0 20px;

                .page-description {
                    h4.title-red {
                        line-height: 1;
                        font-size: 24px;
                        margin-top: 15vw;
                        margin-bottom: 25px;
                        font-family: Roboto-Medium;
                        color: $primary-light-color;
                    }

                    .description {
                        &.title-red {
                            font-size: 16px;
                            color: $text-dark;
                            font-family: Roboto-Regular;
                            margin-bottom: 25px !important;

                            span {
                                color: $text-dark;
                                font-family: Roboto-Medium;
                            }
                        }
                    }
                }

                .reset-password-form {
                    .form-group {
                        label {
                            color: $text-dark;
                            margin-bottom: 5px;
                            font-family: Roboto-Regular;
                        }

                        input[type="password"] {
                            border: unset !important;
                            color: $text-dark !important;
                            background-color: $white-color !important;

                            &:-internal-autofill {
                                -webkit-text-fill-color: #5b5b5b;
                                -webkit-box-shadow: 0 0 0px 1000px $white-color inset;
                                transition: background-color 5000s ease-in-out 0s;
                            }

                            &:-internal-autofill-selected {
                                -webkit-text-fill-color: #5b5b5b;
                                -webkit-box-shadow: 0 0 0px 1000px $white-color inset;
                                transition: background-color 5000s ease-in-out 0s;
                            }
                        }

                        .password-description {
                            font-size: 12px;
                            color: $text-dark;
                            font-family: Roboto-Regular;
                        }

                        &.error {
                            label {
                                font-family: Roboto-Medium;
                                color: $primary-light-color !important;
                            }

                            input[type="password"] {
                                border: 1px solid $primary-light-color !important;
                            }

                            .error {
                                font-family: Roboto-Medium;
                                color: $primary-light-color;
                            }
                        }

                        &.flex {
                            margin: 0;
                            flex-direction: column-reverse;

                            .btn {
                                width: 100%;
                                margin-bottom: 20px;
                                text-transform: unset;
                                font-family: Roboto-Medium;
                                font-size: 16px !important;
                                line-height: normal !important;

                                &.btn-red {
                                    background-color: $primary-light-color !important;
                                }

                                &.btn-gray {
                                    background-color: $text-gray !important;
                                }
                            }
                        }
                    }
                }
            }

            .reset-password-confirmation-content-section {
                padding: 0 20px;

                .confirmation-content {
                    h1.title-red {
                        font-size: 32px;
                        margin-top: 15vw;
                        margin-bottom: 60vw;
                        line-height: normal;
                        text-transform: unset;
                        font-family: Roboto-Medium;
                        color: $primary-light-color;
                    }

                    .btn-gray {
                        width: 100%;
                        text-transform: unset;
                        font-family: Roboto-Medium;
                        font-size: 16px !important;
                        line-height: normal !important;
                        background-color: $text-gray !important;
                    }
                }
            }

            .footer-nav-menu {
                display: flex;
                margin-top: 30px;
                justify-content: center;

                .politica-label,
                .contact-us-label {
                    font-size: 14px;
                    text-align: center;
                    margin: 20px !important;
                    color: $primary-light-color;
                    text-decoration: underline;
                    font-family: Roboto-Regular;
                }
            }
        }
    }
}
