/* ---------------- Archive Mission ----------------------------*/

app-mission-page {
    ion-content {
        app-user-info-header {
            .banner-user-detail {
                .banner-content {
                    .banner-content-section {
                        .content-section {
                            .description {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }

        .page-content {
            top: 15vw;
            overflow: scroll;
            padding-bottom: calc(100% / 4) !important;

            .archive-mission-banner-section {
                .archive-mission-banner {
                    margin: 25px;
                    position: relative;

                    &.mission-new {
                        .post-status {
                            label {
                                color: $white-color;
                                background-color: $btn-green;
                            }
                            .status-btn {
                                color: $white-color;
                                background-color: $btn-green;
                            }
                        }
                    }

                    &.mission-pending {
                        .post-status {
                            label {
                                color: $label-color;
                                background-color: $secondary-light-color;
                            }

                            .status-btn {
                                color: $label-color !important;
                                background-color: rgba(255, 216, 0, 0.68) !important;
                                backdrop-filter: blur(20px) brightness(115%);
                            }
                        }
                    }

                    &.mission-expired {
                        .post-status {
                            label {
                                color: $white-color;
                                background-color: $label-color;
                            }
                            .status-btn {
                                margin-top: 110px;
                                color: $white-color;
                                background-color: $label-color;
                            }
                        }
                    }

                    .archive-mission-banner-image {
                        width: 100%;
                        height: 180px;
                        position: relative;

                        .bg-overlay {
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background: rgba(91, 91, 95, 0.47);
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            max-height: 180px;
                        }
                    }

                    .archive-mission-banner-container {
                        position: absolute;
                        padding: 20px;
                        width: 50%;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        top: 0;
                        &::before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            right: 0;
                            left: 0;
                            top: 0;
                            filter: blur(2px);
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                        @media screen and (max-height: 600px) and (max-height: 700px) {
                            padding: 20px 10px;
                        }
                        label {
                            margin: 0;
                            font-size: 10px;
                            padding: 4px 20px;
                            width: max-content;
                            margin-bottom: 20px;
                            border-radius: 13px;
                            background-color: $white-color;
                            font-family: PFDinTextPro-Medium;
                            @media screen and (max-height: 850px) and (max-height: 900px) {
                                padding: 4px 20px;
                            }
                    
                            @media screen and (max-height: 820px) and (max-height: 900px) {
                                padding: 4px 10px !important;
                            }
                    
                            @media screen and (max-height: 800px) {
                                padding: 4px 20px !important;
                            }
                    
                            @media screen and (width: 390px) and (height: 844px) {
                                padding: 4px 20px !important;
                            }
                    
                            @media screen and (max-height: 700px) {
                                padding: 4px 10px !important;
                            }
                    
                            @media screen and (max-height: 600px) and (max-height: 700px) {
                                padding: 5px !important;
                            }
                    
                            @media screen and (width: 360px) and (height: 800px) {
                                padding: 4px 10px !important;
                            }
                        }

                        .mission-title {
                            line-height: 1;
                            font-size: 19px;
                            overflow: hidden;
                            max-height: 78px;
                            color: $white-color;
                            height: fit-content;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            min-height: fit-content;
                            text-overflow: ellipsis;
                            text-transform: uppercase;
                            -webkit-box-orient: vertical;
                            font-family: PFDinTextPro-Italic;
                        }
                    }

                    .post-status {
                        top: 20px;
                        right: 10px;
                        display: flex;
                        align-items: end;
                        position: absolute;
                        flex-direction: column;

                        label {
                            margin: 0;
                            font-size: 10px;
                            padding: 4px 20px;
                            width: max-content;
                            border-radius: 13px;
                            text-transform: uppercase;
                            font-family: PFDinTextPro-Medium;
                        }

                        .status-btn {
                            height: 25px;
                            margin-top: 90px;
                            width: max-content;
                            font-size: 12px !important;
                            padding: 4px 20px !important;
                            line-height: normal !important;
                        }
                    }
                }
            }
        }

        .back-btn {
            font-family: PFDinTextPro-Medium-Italic;
            font-size: 15px !important;
            margin: 25px auto;
            display: block;
            width: 95px;
        }
    }
}
