$black-color: #000000;
$white-color: #ffffff;

$primary-dark-color: #bf0609;
$primary-light-color: #E30609;
$secondary-color: #fbba00;
$secondary-light-color: #FFD800;

$border-color: #c7c7c7;
$gray-color: #f4f4f4;
$green-color: #009D26;
$gray-dark: #878787;
$gray-medium: #dadada;
$gray-light: #f4f4f4;
$gray-light-color: #EBEBEB;

$text-dark: #5b5b5b;
$text-gray: #b2b2b2;
$text-blue: #00A9E3;
$text-red: #DD1D21;

$input-field-color: #F0F0F0;
$label-color: #707070;

$btn-green: #28AF00;
