<ion-header>
    <app-header></app-header>
</ion-header>
<ion-content>  
    <div class="bg-gradient w-100 h-100 background"></div>
    <div class="page-content">
        <img src="assets/images/background/performance-matriz.jpg" alt="club-star">
        <div class="club-star-content">
            <label class="btn-outline-gray">
                constelação
            </label>
            <h1 class="title-gray">eleve sua performance<span> ao máximo!</span></h1>
            <p>
                Acompanhe seus indicadores de desempenho.
            </p>
        </div>
        <div class="club-star-link">
            <div class="btn-group">
                <ion-button class="btn btn-outline-gray">
                    Constelação
                </ion-button>
                <ion-button class="btn btn-outline-gray">
                    Estrelas do Clube
                </ion-button>
            </div>
        </div>
        <div class="club-star-banner">
            <div class="club-star-container">
                <div class="header-title-content margin-bottom">
                    <h1 class="title-gray">uma ferramenta para<span> elevar sua performance!</span></h1>
                </div>
                <div class="banner-title">
                    <p>Você que faz parte da<span> melhor rede credenciada do Brasil</span>, e já tem no constelação uma ferramenta para elevar ainda mais a performance do seu PDV, <span>poderá se destacar ainda mais com o:</span></p>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="post-content">
                <div class="stars-banner">
                    <div class="stars-banner-images">
                        <!-- banner image -->
                        <img src="assets/images/background/stars-banner.png">
                    </div>
                    <div class="stars-banner text-center">
                        <div class="stars-title">
                            <label>objetivos</label>
                        </div>
                        <div class="row margin-top">
                            <div class="col margin-bottom">
                                <div class="card card-light-gray">
                                    <div class="card-icon bg-gradient">
                                        <span>01</span>
                                    </div>
                                    <div class="work-content margin-top">
                                        <h2 class="title">reconhecer</h2>
                                        <h2 class="subtitle">os melhorespdvs.</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col margin-bottom">
                                <div class="card card-light-gray">
                                    <div class="card-icon bg-gradient">
                                        <span>02</span>
                                    </div>
                                    <div class="work-content margin-top">
                                        <h2 class="title">elevarainda mais a </h2>
                                        <h2 class="subtitle">performance.</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col margin-bottom">
                                <div class="card card-light-gray">
                                    <div class="card-icon bg-gradient">
                                        <span>03</span>
                                    </div>
                                    <div class="work-content margin-top">
                                        <h2 class="title">representarcada vez mais </h2>
                                        <h2 class="subtitle">a marca sky!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="batch-icon">
                        <!-- batch-icon -->
                        <img src="assets/images/common/batch-icon.jpg">
                    </div>
                    <div class="batch-banner">
                        <div class="batch-banner-content">
                            <!-- category-banner -->
                            <img src="assets/images/background/category-banner.jpg">
                        </div>
                        <div class="batch-content">
                            <h1 class="title title-red"><span class="d-block">conquiste a sua </span>categoria!</h1>
                            <span class="glow-red"></span>
                            <p class="description">Cada PDV poderá fazer parte de uma categoria (prata, ouro ou diamante) de acordo com a sua estrelagem no Constelação SKY.</p>
                            <p class="sub-description">Os indicadores avaliados serão quantidade de vendas e média de estrelagem no período da campanha.</p>                                
                            <p class="details">De 01/Janeiro/2021 a 31/DEZEMBRO/2021</p>
                            <p class="details">Os resultados serão divulgados em FEVEREIRO/2022</p>
                        </div>
                    </div>
                    <div class="batch-table-content">
                        <div class="batch-icon-detail">
                            <label class="btn btn-gray-light silver-icon">prata</label>
                            <label class="btn btn-yellow gold-icon">ouro</label>
                            <label class="btn btn-gray-dark diamond-icon">diamante</label>
                        </div>
                        <div class="club-star-table">
                            <table class="batch-table">
                                <thead>
                                    <tr>
                                        <th class="bg-white">tipo de credenciado</th>
                                        <th class="bg-gray-light">quantidade mínima de vendas no período</th>
                                        <th class="bg-gray-light">quantidade mínima de estrelas no período (média)</th>
                                        <th class="bg-yellow">quantidade mínima de vendas no período</th>
                                        <th class="bg-yellow">quantidade mínima de estrelas no período (média)</th>
                                        <th class="bg-gray-dark">quantidade mínima de vendas no período</th>
                                        <th class="bg-gray-dark">quantidade mínima de estrelas no período (média)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bg-white">Master</td>
                                        <td class="bg-gray-light">1000</td>
                                        <td class="bg-gray-light">4</td><td class="bg-yellow">1000</td>
                                        <td class="bg-yellow">4,5</td>
                                        <td class="bg-gray-dark">1000</td>
                                        <td class="bg-gray-dark">5,1</td>

                                    </tr>
                                    <tr>
                                        <td class="bg-white">sky</td>
                                        <td class="bg-gray-light">1000</td>
                                        <td class="bg-gray-light">4</td>
                                        <td class="bg-yellow">1500</td>
                                        <td class="bg-yellow">4,5</td>
                                        <td class="bg-gray-dark">2000</td>
                                        <td class="bg-gray-dark">5,1</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-white">Especial</td>
                                        <td class="bg-gray-light">600</td>
                                        <td class="bg-gray-light">4</td>
                                        <td class="bg-yellow">600</td>
                                        <td class="bg-yellow">4,5</td>
                                        <td class="bg-gray-dark">600</td>
                                        <td class="bg-gray-dark">5,1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="batch-container-details">
                        <div class="batch-container">
                            <div class="banner-title">
                                <p><span>Para estar elegível</span>, o PDV deverá ter no mínimo a média de 4 estrelas e não deve ter recebido 1 ou 2 estrelas no período.</p>
                            </div>
                            <div class="banner-title">
                                <p>E não pode ter recebido nenhuma notificação de irregularidade no período da campanha.</p>
                            </div>
                            <hr/>
                            <div class="header-title-content margin-bottom">
                                <h1 class="title-gray">a campanha já<span> esta valendo!</span></h1>
                                <p>confira os benefícios que você poderá ganhar</p>
                            </div>
                        </div>
                        
                        <div class="batch-list">
                            <div class="bg-gray-light batch-list-details margin-bottom">
                                <div class="flex silver justify-between">
                                    <div class="batch-content">
                                        <div class="batch-content-details">
                                            <h2 class="title-gray batch-name">prata</h2>
                                            <span class="glow-red"></span>
                                            <p class="details">certificado online</p>
                                            <p class="details">máscara/filtro no perfil do workplace (conforme categoria).</p>
                                        </div>
                                    </div>
                                    <div class="batch-header">
                                        <div class="batch-image">
                                            <img src="assets/images/common/silver-batch.png" alt="silver-batch">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-gray-light batch-list-details margin-bottom">
                                <div class="flex gold justify-between">
                                    <div class="batch-content">
                                        <div class="batch-content-details">
                                            <h2 class="title-gray batch-name">ouro</h2>
                                            <span class="glow-red"></span>
                                            <p class="details">placa de reconhecimento paraexposição no pdv entregue porum executivo sky.</p>
                                            <p class="details">máscara/filtro no perfil do workplace (conforme categoria).</p>
                                        </div>
                                    </div>
                                    <div class="batch-header">
                                        <div class="batch-image">
                                            <img src="assets/images/common/gold-batch.png" alt="gold-batch">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-gray-light batch-list-details margin-bottom">
                                <div class="flex diamond justify-between">
                                    <div class="batch-content">
                                        <div class="batch-content-details">
                                            <h2 class="title-gray batch-name">diamante</h2>
                                            <span class="glow-red"></span>
                                            <p class="details">placa de reconhecimento para exposição no pdv entregue por executivo da sky</p>
                                            <p class="details">20 mil pontos no clube sky para resgatar o prêmio que quiser!</p>
                                            <p class="details">reconhecimento na convenção*</p>
                                            <p class="details">máscara/filtro no perfil do workplace (conforme a categoria)</p>
                                        </div>
                                    </div>
                                    <div class="batch-header">
                                        <div class="batch-image">
                                            <img src="assets/images/common/diamond-batch.png" alt="diamond-batch">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center description">Continue participando e aproveite os benefícios que só o Clube SKY leva para você!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>