<ion-content class="bg-default ion-padding">
    <div class="logo-section">
        <div class="logo">
            <img src="assets/images/logo/clube-mais-gray-red-login-logo.png" alt="Clube Mais" />
        </div>
    </div>
    <div class="forgot-password-section" *ngIf="pageOneFlag">
        <form [formGroup]="forgetPasswordFormOne">
            <div class="page-description">
                <h4 class="title-red">Esqueceu a senha?</h4>
                <p class="description title-red"><span>Insira seu CPF</span> para receber um e-mail com as
                    instruções de redefinição de senha.</p>
            </div>
            <div class="forgot-password-form">
                <div class="form-group"
                    [ngClass]="!forgetPasswordFormOne.controls.user_login.valid && forgetPasswordFormOne.controls.user_login.touched ? 'error' : ''">
                    <label>Insira seu CPF</label>
                    <ion-input type="tel" name="cpf" formControlName="user_login"
                        [brmasker]="{mask: '000.000.000-00',len:14, type:'num'}"></ion-input>
                    <div class="error"
                        *ngIf="!forgetPasswordFormOne.controls.user_login.valid && forgetPasswordFormOne.controls.user_login.touched">
                        cpf inválido
                    </div>
                </div>
                <div class="flex form-group">
                    <ion-button class="btn btn-gray" (click)="toBack()">Cancelar</ion-button>
                    <ion-button class="btn btn-red" (click)="checkCpf()" [disabled]="!forgetPasswordFormOne.valid">
                        Enviar
                    </ion-button>
                </div>
            </div>
        </form>
    </div>

    <div class="reset-password-section" *ngIf="pageTwoFlag">
        <form [formGroup]="forgetPasswordFormTwo">
            <div class="page-description">
                <h4 class="title-red">Nova senha.</h4>
                <p class="description title-red"><span>Preencha os campos abaixo</span> para criar a sua nova<br>senha
                    de acesso.</p>
            </div>
            <div class="reset-password-form">
                <div class="form-group"
                    [ngClass]="!forgetPasswordFormTwo.controls.newpassword.valid && forgetPasswordFormTwo.controls.newpassword.touched ? 'error' : ''">
                    <label>Digite a nova senha </label>
                    <ion-input type="password" name="newpassword" placeholder="" formControlName="newpassword"
                        (ionChange)="domChange()">
                    </ion-input>
                    <p class="password-description">A sua senha deverá ter pelo menos 8 (oito) caracteres.</p>
                    <div class="error"
                        *ngIf="!forgetPasswordFormTwo.controls.newpassword.valid && forgetPasswordFormTwo.controls.newpassword.touched">
                        senha Incorreta
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="!forgetPasswordFormTwo.controls.confirmPassword.valid && forgetPasswordFormTwo.controls.confirmPassword.touched ? 'error' : ''">
                    <label>Confirmar a senha</label>
                    <ion-input type="password" name="confirmPassword" placeholder="" formControlName="confirmPassword"
                        (ionChange)="domChange()">
                    </ion-input>
                    <div class="error"
                        *ngIf="!forgetPasswordFormTwo.controls.confirmPassword.valid && forgetPasswordFormTwo.controls.confirmPassword.touched">
                        Confirmar a senha inválido
                    </div>
                </div>
                <div class="flex form-group">
                    <ion-button class="btn btn-gray" (click)="passToForm(1)">Cancelar</ion-button>
                    <ion-button class="btn btn-red" (click)="updatePassword()"
                        [disabled]="!forgetPasswordFormTwo.valid">Enviar
                    </ion-button>
                </div>
            </div>
        </form>
    </div>

    <div class="reset-password-confirmation-content-section" *ngIf="pageThreeFlag">
        <div class="confirmation-content">
            <h1 class="title-red">Senha alterada<br /> com sucesso!</h1>
            <ion-button class="btn btn-gray" (click)="toLoginPage()">Voltar</ion-button>
        </div>
    </div>

    <div class="confirmation-content-section" *ngIf="pageFourFlag">
        <div class="confirmation-content">
            <h4 class="title-red">Confirmação.</h4>
            <p class="description">Você vai receber o link de confirmação pelo e-mail:</p>
            <p class="description"><span>{{userEmailID | encryptEmail}}</span></p>
            <div class="margin">
                <p class="description">Siga as orientações para criar uma nova senha de acesso.</p>
            </div>
            <ion-button class="btn btn-gray" (click)="toLoginPage()">Voltar</ion-button>
        </div>
    </div>

    <div class="footer-nav-menu">
        <p class="contact-us-label" (click)="openPage('contact-page')">Fale Conosco</p>
        <p class="politica-label" (click)="openPolitica()">Política de Privacidade</p>
    </div>
</ion-content>