.footer-link {
    background: #707070;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    width: 100vw;
    position: absolute;
    left: 0;
    a {
        display: inline;
        text-decoration: underline;
    }
}